.itemContainer {
  margin: 2rem 1rem 4rem 1rem;
}

.itemContainer .heading {
  font-size: 1.8rem;
  margin: 1rem 0rem 1rem 1.5rem;
}

.heading p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}

.list {
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.list:hover {
  background-color: rgba(128, 128, 128, 0.35);
  border-radius: 12px;
}

.list .listArtists {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.2rem;
  font-size: smaller;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.artist:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline rgba(255, 255, 255, 0.8);
}

.album {
  width: 26.5vw;
  color: rgba(255, 255, 255, 0.5);
}

.album:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.listindex {
  width: 30vw;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.listindex img {
  border-radius: 9px;
  margin-left: 1.5rem;
}

.listindex .info {
  margin-left: 1rem;
}

.list .duration {
  color: rgba(255, 255, 255, 0.5);
}
