.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
}

.feed {
  width: 100%;
  padding: 1rem;
  border-radius: 9px;
  margin: 0.5rem;
  transition: all 0.2s ease-in;
}

.feed:hover {
  background-color: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}

.feedimage {
  position: relative;
}

.playpause {
  opacity: 0;
  position: absolute;
  right: 10%;
  bottom: 15%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  transition: all 200ms ease-in-out;
}

.playpauseActive {
  opacity: 1;
  transform: translateY(-20%);
}

.feed:hover .playpause {
  opacity: 1;
  transform: translateY(-20%);
}

.feed:hover .playpause:hover {
  transform: translateY(-20%) scale(1.03);
}

.feed .image {
  width: 100%;
  aspect-ratio: 0.9;
  margin-bottom: 0.7rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.feed:hover .image {
  filter: blur(2px);
}

.feedName {
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.feedDescription {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.65);
}