.feed {
  display: flex;
  flex-grow: 0.2;
  flex-flow: column;
  /* background-color: rgba(128, 128, 128, 0.1); */
  padding: 1.13rem;
  border-radius: 9px;
  max-width: min-content;
  margin: 0.5rem;
  transition: all 0.2s ease-in;
}

.feed:hover {
  background-color: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}

.feedimage {
  position: relative;
}

.playpause {
  opacity: 0;
  position: absolute;
  right: 10%;
  bottom: 15%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.feed:hover .playpause {
  opacity: 1;
  transform: translateY(-20%);
}

.feed:hover .playpause:hover {
  transform: translateY(-20%) scale(1.03);
}

.feed .image {
  width: 11rem;
  height: 11.5rem;
  margin-bottom: 0.7rem;
  border-radius: 12px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.feedName {
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.feedDescription {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.65);
}
