.feedContainer {
  display: flex;
  flex-flow: column;
  padding: 1rem 1rem 1rem 0rem;
  margin: 0rem 0rem 1rem;
}

.feedHeading {
  padding: 0.5rem 0rem 1rem 1.5rem;
  margin-left: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.feedHeading button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}

.feedHeading button:hover {
  text-decoration: underline solid white;
  text-decoration-thickness: 1.5px;
  cursor: pointer;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
}
