.feed {
  display: flex;
  flex-grow: 0.2;
  flex-flow: column;
  /* background-color: rgba(128, 128, 128, 0.1); */
  padding: 1.13rem;
  border-radius: 9px;
  max-width: min-content;
  margin: 0.5rem;
  transition: all 0.2s ease-in;
}

.feed:hover {
  background-color: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}

.feed .image {
  width: 11rem;
  height: 11.5rem;
  margin-bottom: 0.7rem;
  border-radius: 12px;
  z-index: 1;
}

.feedName {
  font-weight: 500;
  padding-bottom: 0.3rem;
}

.feedDescription {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.65);
}
