.container {
  /* margin: 0.5rem 0.5rem 0rem 0.5rem; */
  margin: .5rem;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .containeralign {
  padding-left: 0.5rem;
} */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  font-weight: 300;
}
