.heading {
  background-color: var(--background);
  box-shadow: 0px 40px 600px var(--background),
    100px 100px 600px rgba(0, 0, 0, 0.55) inset;
  height: 20rem;
  padding: 1.5rem 1.5rem 1.2rem 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.heading .headingimg {
  border-radius: 50%;
  margin-right: 1.5rem;
  width: 250px;
  height: 250px;
  transform: translateY(3px);
  box-shadow: 1px 1px 35px -10px black;
  animation-name: fade-in;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translateY(-7px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  padding: 0.5rem;
}

.title p {
  padding: 0.2rem;
}

.title .titleName {
  font-size: 5rem;
  font-weight: 700;
}
