.container {
  width: 100%;
  margin-top: -1px;
  padding-bottom: 6rem;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
}

.container::-webkit-scrollbar {
  display: none;
}

.recommend {
  margin: 5rem 1rem 0rem;
}

.recommendtitle {
  font-size: 2rem;
  padding: 1rem;
  margin-left: 0.6rem;
}

.recommendContainer {
  display: flex;
  flex-wrap: wrap;
}
