.overlay {
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
  background-image: url("https://wallpapers.com/images/hd/spotify-background-9swsnn0d6snp9bf1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  filter: blur(2px);
  background-color: rgb(0, 0, 0);
  transition: all 1s ease-in-out;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.gridContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 22% 78%;
  grid-auto-rows: 100px auto;
}

.gridContainer div {
  text-align: start;
}

.navBar {
  margin: 0.5rem 0rem 0.5rem 0.5rem;
  grid-row: 1/3;
  position: relative;
}

.searchBar {
  margin: 0.3rem 0rem;
  grid-column: 2/4;
}

.main {
  background-color: rgba(128, 128, 128, 0.15);
  margin: 0.5rem 0.75rem 0rem;
  border-radius: 12px;
  overflow-y: scroll;
  position: relative;
  top: 0;
}

.main::-webkit-scrollbar {
  display: none;
}
