.container {
  margin: 0 0.5rem;
  animation: fade-in 0.6s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.itemContainer {
  margin: 1rem 1rem 2rem 1rem;
}

.itemContainer .heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem 0rem 1rem 1.5rem;
}
