.list {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  border-radius: 9px;
  min-width: 18vw;
  transition: all 0.2s ease;
}

.list:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.list img {
  margin-right: 1rem;
  width: 40px;
  aspect-ratio: 1;
}

.list h3 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.active {
  color: #1db760;
}

.list p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.7rem;
}
