.slideBar {
  width: 85vw;
  height: 5px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0rem 0.75rem;
}

.slideBar:hover {
  cursor: pointer;
}

.progressed {
  height: 5px;
  border-radius: 3px;
  background-color: white;
  position: relative;
}

.slideBar:hover .progressed {
  cursor: pointer;
  background-color: #1ed760;
}

.slideBar:hover .progressed::after {
  position: absolute;
  right: 0;
  top: -2px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
