:fullscreen .screenContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: var(--full-screen-background);
  box-shadow: 100px 100px 600px rgba(0, 0, 0, 0.55) inset;
  width: 100%;
  height: 100%;
  transition: background-color 1s ease-in;
}

:fullscreen .logoContainer {
  display: flex;
  align-items: center;
}

:fullscreen .logo {
  width: 125px;
}

:fullscreen .type {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

:fullscreen .name {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

:fullscreen .titleInfo {
  margin-left: -1rem;
}

:fullscreen .infoContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

:fullscreen .playerImg {
  width: 32%;
  aspect-ratio: 1;
  opacity: 0;
  border-radius: 9px;
  box-shadow: 1px 1px 500px -5px black;
  transform: translateY(-20px);
  transition: all 0.5s ease-in;
  animation: to-down 0.6s ease-in 100ms forwards;
}

@keyframes to-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:fullscreen .playerInfo {
  opacity: 0;
  margin: 1rem;
  transform: translateX(10px);

  transition: all 0.5s ease-in;
  animation: to-left 0.6s ease-in 100ms forwards;
}

@keyframes to-left {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

:fullscreen .playerInfo h3 {
  font-size: 3.6rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

:fullscreen .playerInfo p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 1.3rem;
}

:fullscreen .playerContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  height: 13vh;
  transition: opacity 0.5s ease-in;
}

:fullscreen .slider {
  display: flex;
  align-items: center;
}

:fullscreen .time {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.55);
}

:fullscreen .playerInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:fullscreen .playerLike {
  width: 40px;
  aspect-ratio: 1;
  transition: all 0.15s ease-in;
}

:fullscreen .playerLike:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

:fullscreen .btn {
  display: flex;
  align-items: center;
}

:fullscreen .btn img {
  transition: all 0.15s ease-in;
  margin: 0rem 0.3rem;
}

:fullscreen .play {
  width: 55px;
  aspect-ratio: 1;
}

:fullscreen .play:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

:fullscreen .navBtn {
  width: 50px;
  aspect-ratio: 1;
}

:fullscreen .navBtn:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

:fullscreen .exitScreen {
  width: 48px;
}

:fullscreen .exitScreen:hover {
  cursor: pointer;
  transform: scale(0.9);
}
