:root {
  --background: transparent;
  --heading-font-size: 2.5rem;
  --heading-font-weight: 500;
  --heading-image-border-radius: 12px;
  --heading-image-width: 270px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
  background-color: black;
  color: white;
}
