:root {
  --background: transparent;
  --full-screen-background: transparent;
}

@font-face {
  font-family: "gotham";
  src: url("../src/fonts/GothamOffice-Bold.otf");
    format("truetype"); /* For .ttf file */
  /* Add additional font properties like font-weight and font-style if needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "gotham", monospace;
  background-color: black;
  color: white;
}
