:root {
  --background: transparent;
  --full-screen-background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: black;
  color: white;
}
