.heading {
  background-color: transparent;
  height: 20rem;
  padding: 1.5rem 1.5rem 1.2rem 1.5rem;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.headingImg {
  margin-right: 1.5rem;
  aspect-ratio: 1;
  transform: translateY(3px);
  box-shadow: 1px 1px 35px -10px black;
  animation-name: fade-in;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translateY(-7px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.title {
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.title .type {
  padding-left: 0.5rem;
  margin-top: 1.5rem;
  font-weight: 700;
}

.title .verified {
  width: 30px;
  height: 30px;
  margin-right: 0.3rem;
}

.title p {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.title .titleName {
  /* font-size: var(--heading-font-size); */
  /* font-weight: var(--heading-font-weight); */
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.title .description {
  opacity: 0.6;
}

.default .headingImg {
  width: 270px;
  border-radius: 12px;
}

.default .titleName {
  font-size: 2.5rem;
  font-weight: 500;
}

.artist .headingImg {
  width: 270px;
  border-radius: 50%;
}

.artist .titleName {
  font-size: 3.5rem;
  font-weight: 700;
}

.profile .headingImg {
  width: 250px;
  border-radius: 50%;
}

.profile .titleName {
  font-size: 6rem;
  font-weight: 700;
}

.track .headingImg {
  width: 220px;
  border-radius: 12px;
}

.track .titleName {
  font-size: 3rem;
  font-weight: 400;
}

.like .headingImg {
  width: 270px;
  border-radius: 50%;
}

.like .titleName {
  font-size: 6rem;
  font-weight: 700;
}
