.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 0rem 1rem;
  z-index: 20;
}

.navbar .playpause {
  margin: 1.5rem 1rem 1rem 1.5rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.playpause:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.navbar .like {
  margin: 1.5rem 1rem 1rem 1.5rem;
}

.like:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.navbar .follow {
  color: white;
  margin-top: 0.7rem;
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 100px;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.403);
  transition: all 0.15s ease-in-out;
}

.navbar .follow:hover {
  cursor: pointer;
  transform: scale(1.04);
  border: 1px solid white;
}

.playlistName {
  padding: 0.5rem 0rem 0rem 1rem;
  font-size: 1.3rem;
  opacity: 0;
  font-weight: 500;
}

.titlelist {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin: 0.3rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: sticky;
  top: 5.6rem;
  left: 0;
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.index {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.index p {
  margin-left: 1.5rem;
}

.sticky {
  background-color: rgb(50, 47, 47);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.694),
    60%,
    var(--background)
  );
}

.sticky .playlistName {
  opacity: 1;
  padding: 0.5rem 0rem 0rem 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.titleSticky {
  background-color: rgb(68, 68, 68);
  border-radius: 9px;
}

.opacity {
  opacity: 0;
}
