.itemContainer {
  margin: 0rem 1rem;
}

.list {
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.list:hover {
  background-color: rgba(128, 128, 128, 0.35);
  border-radius: 12px;
}

.list .listArtists {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.2rem;
  font-size: 0.7rem;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nameActive {
  color: #1ed760;
}

.artist:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline rgba(255, 255, 255, 0.8);
}

.albumContainer {
  width: 26.5vw;
}

.album {
  width: fit-content;
  color: rgba(255, 255, 255, 0.5);
}

.album:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.listindex {
  width: 30vw;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.listindex img {
  border-radius: 9px;
  margin-left: 1.5rem;
}

.listindex .info {
  margin-left: 1rem;
}

.list .duration {
  color: rgba(255, 255, 255, 0.5);
}

.imgContainer {
  display: flex;
  align-items: center;
}

.likeImg {
  opacity: 0;
  width: 24px;
  aspect-ratio: 1;
  margin-right: 1.5rem;
  transition: transform 0.2s ease;
}

.likeImg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.likeImgActive {
  opacity: 1;
}

.list:hover .likeImg {
  opacity: 1;
}
